.jumbotron {
  display: none;
}

#player-2-toggle {
  display: none;
}
.total-output {
  font-size: 95px;
  text-align: center;
  margin-top: 25px;
  }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;

}

#message {
  /* margin-top: 100px; */
  font-size: 30px;
  /* display: inline-block; */
  color: white;
  text-align: center;
}

/* #message-box {
  text-align: center;
} */

#player-row {

  column-height: 1000px;
}

/* .dice-image {
  text-align: center;
  min-height: 400px;
} */

#player-two-hold {
  margin-top: 15px;
  margin-left: 220px;
}
#player-one-hold {
  margin-top: 15px;
  margin-left: 220px;
}


.foreground {
  background-color: white;
  color: black;
  padding: 60px;
  border-radius: 15px;
  margin-top: 40px;
}

.player-data {
  position: absolute;
  margin-top: 45px;

}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

img {
  height: 300px
}

#pig {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.heading {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.black-box {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 15px;
  /* min-height: 420px; */
  width: 450px;
  height: 450px;
}

#right {
  margin-left: 25px;
}
#left {
  margin-right: 100px;
}

#message-box {
  margin: 0 auto;
  width: 500px;
}

#dice-box {
  margin: 0 auto;
  width: 500px;
}
