.jumbotron {
  display: none;
}

#player-2-toggle {
  display: none;
}
.total-output {
  font-size: 75px;
  text-align: center;
  margin: 20px;
  }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
}

#message {
  margin-top: 100px;
  font-size: 30px;
  display: inline-block;
  color: white;
}

#message-box {
  text-align: center;
}

#player-row {

  column-height: 1000px;
}

.dice-image {
  text-align: center;
  min-height: 400px;
}

.foreground {
  background-color: white;
  color: black;
  padding: 100px;
  border-radius: 15px;
  margin-top: 25px;
}

.player-data {
  position: absolute;
  margin-top: 45px;

}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

img {
  margin-top: 10px;
  height: 200px;
}

.black-box {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 15px;
  min-height: 420px;
}

#right {
  margin-left: 15px;
}
#left {
  margin-right: 25px;
}
